In [8]:
import pandas as pd

df1 = pd.DataFrame({
'key': ['A', 'B', 'C'],
'value1': [1, 2, 3]
})


df2 = pd.DataFrame({
'key': ['A', 'B', 'D'],
'value2': [4, 5, 6]
})

In [ ]:
#inner join su key

s=pd.merge(df1,df2,on="key")
s

  key  value1  value2
0   A       1       4
1   B       2       5

In [10]:
#step due: sugli stessi dataframe creare una join che mostri tutte le righe di entrambi

s2=pd.merge(df1,df2,on="key", how='outer')
s2

  key  value1  value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0