In [1]:
import pandas as pd

df1 = pd.DataFrame({
'A': ['foo', 'bar'],
'B': [1, 2]
})

df2 = pd.DataFrame({
'A': ['baz', 'qux'],
'B': [3, 4]
})

df1

     A  B
0  foo  1
1  bar  2

In [ ]:
df2

In [22]:
#Combina df1 e df2 impilandoli uno sopra l'altro.
a=pd.concat([df1, df2], axis="rows",keys=['A', 'B'])
a

       A  B
A 0  foo  1
  1  bar  2
B 0  baz  3
  1  qux  4