In [1]:
import pandas as pd

df1 = pd.DataFrame({
'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2']
}, index=[0, 1, 2])

df2 = pd.DataFrame({
'C': ['C0', 'C1', 'C2'],
'D': ['D0', 'D1', 'D2']
}, index=[0, 2, 3])

df1

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

In [2]:
df2

    C   D
0  C0  D0
2  C1  D1
3  C2  D2

In [4]:
#Combina df1 e df2 affiancandoli, allineando gli indici.

x=pd.concat([df1, df2], axis="columns")
x

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1  NaN  NaN
2   A2   B2   C1   D1
3  NaN  NaN   C2   D2