In [5]:
import pandas as pd

df1 = pd.DataFrame({
'chiave': ['K0', 'K1', 'K2', 'K3'],
'A': ['A0', 'A1', 'A2', 'A3']
})

df2 = pd.DataFrame({
'chiave': ['K0', 'K1', 'K2'],
'B': ['B0', 'B1', 'B2']
})

df3 = pd.DataFrame({
'chiave': ['K1', 'K2', 'K4'],
'C': ['C1', 'C2', 'C4']

})

print('Dataframe 1 \n:',df1)
print('Dataframe 2 \n:',df2)
print('Dataframe 3 \n:',df3)

Dataframe 1
:   chiave   A
0     K0  A0
1     K1  A1
2     K2  A2
3     K3  A3
Dataframe 2
:   chiave   B
0     K0  B0
1     K1  B1
2     K2  B2
Dataframe 3
:   chiave   C
0     K1  C1
1     K2  C2
2     K4  C4

In [ ]:
# Unisci prima df1 e df2 includendo solo le chiavi comuni.


df4=pd.merge(df1,df2,on="chiave")
df4

  chiave   A   B
0     K0  A0  B0
1     K1  A1  B1
2     K2  A2  B2

In [ ]:
# Poi, unisci il risultato con df3 includendo tutte le chiavi di df3.

df5=pd.merge(df4,df3,on="chiave",how="right")
df5

  chiave    A    B   C
0     K1   A1   B1  C1
1     K2   A2   B2  C2
2     K4  NaN  NaN  C4