primo

In [2]:
import pandas as pd
data = {
'Data': ['2024-01', '2024-01', '2024-02', '2024-02'],
'Categoria': ['A', 'B', 'A', 'B'],
'Valore': [10, 20, 15, 25]
}

df = pd.DataFrame(data)
df

      Data Categoria  Valore
0  2024-01         A      10
1  2024-01         B      20
2  2024-02         A      15
3  2024-02         B      25

In [3]:
#Riorganizza il DataFrame in modo che ogni categoria diventi una colonna e i valori siano distribuiti di conseguenza per ogni data

df_pivot = df.pivot(index='Data', columns='Categoria', values='Valore')
df_pivot

Categoria   A   B
Data
2024-01    10  20
2024-02    15  25

secondo

In [13]:
import pandas as pd

data = {
'Venditore': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie'],
'Mese': ['Gennaio', 'Gennaio', 'Febbraio', 'Febbraio', 'Gennaio'],
'Vendite': [200, 150, 300, 250, 100]
}

df = pd.DataFrame(data)
df

  Venditore      Mese  Vendite
0     Alice   Gennaio      200
1       Bob   Gennaio      150
2     Alice  Febbraio      300
3       Bob  Febbraio      250
4   Charlie   Gennaio      100

In [14]:
#Crea una tabella pivot che mostri la somma delle vendite per ogni venditore 

df.pivot_table(index=['Venditore'], values='Vendite', aggfunc='sum')

           Vendite
Venditore
Alice          500
Bob            400
Charlie        100