In [2]:
import pandas as pd

file= 'train.csv'

df=pd.read_csv(file)

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [80]:
df.shape

(891, 12)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

valori nulli per la colonna Age

In [82]:
df['Age'].isna().sum()

#df['Age'].fillna(df['Age'].mean(), inplace=True)

df.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

valori nulli per la colonna SibSp

In [83]:
df['SibSp'].isna().sum()

np.int64(0)

valori nulli per la colonna Parch

In [84]:
df['Parch'].isna().sum()

np.int64(0)

valori nulli per la colonna PassengerId

In [85]:
df['PassengerId'].isna().sum()

np.int64(0)

valori nulli per la colonna Fare

In [86]:
df['Fare'].isna().sum()

np.int64(0)

valori nulli per la colonna Cabin

In [ ]:
df['Cabin'].isna().sum()
df.drop(columns='Cabin')

#df['Cabin'].fillna('Valore Sconosciuto', inplace=True)  

#687 valori nulli nella colonna Cabin

np.int64(687)

valori nulli per la colonna Ticket

In [88]:
df['Ticket'].isna().sum()

np.int64(0)

valori nulli per la colonna Embarked

In [ ]:
df['Embarked'].isna().sum()
 #2 valori nulli nella colonna Embarked

np.int64(2)

controllo duplicati nella colonna Name

In [89]:

df['Name'].duplicated().sum()

np.int64(0)

controllo duplicati nella colonna Ticket

In [90]:
df['Ticket'].duplicated().sum()     #210 duplicati nella colonna Ticket

np.int64(210)

quanti valori unici nella colonna Embarked

In [98]:
df['Embarked'].nunique()

4

quali sono i valori unici nella colonna Embarked

In [99]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan, 1], dtype=object)

valori unici per la colonna Sex

In [102]:
df['Sex'].unique()

array(['male', 'female', 1], dtype=object)

quanti passengeri presenti in classe 1, 2, 3

In [103]:
df1 = df[df['Pclass'] == 1]
df1.value_counts('PassengerId')

PassengerId
1      1
2      1
4      1
7      1
12     1
      ..
872    1
873    1
880    1
888    1
890    1
Name: count, Length: 217, dtype: int64

In [104]:
df2 = df[df['Pclass'] == 2]
df2.value_counts('PassengerId')

PassengerId
10     1
16     1
18     1
21     1
22     1
      ..
867    1
875    1
881    1
884    1
887    1
Name: count, Length: 184, dtype: int64

In [105]:
df3 = df[df['Pclass'] == 3]
df3.value_counts('PassengerId')

PassengerId
891    1
1      1
3      1
5      1
6      1
      ..
25     1
26     1
27     1
29     1
30     1
Name: count, Length: 491, dtype: int64

percentuale sopravvissuti

In [3]:
percentuale_sopravvissuti_sesso = df.groupby('Sex')['Survived'].mean() * 100
percentuale_sopravvissuti_sesso

Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64

In [4]:
percentuale_sopravvissuti_pclass = df.groupby('Pclass')['Survived'].mean() * 100
percentuale_sopravvissuti_pclass

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [9]:
percentuale_sopravvissuti_sex_class = df.groupby(['Sex', 'Pclass'])['Survived'].mean() * 100
percentuale_sopravvissuti_sex_class

Sex     Pclass
female  1         96.808511
        2         92.105263
        3         50.000000
male    1         36.885246
        2         15.740741
        3         13.544669
Name: Survived, dtype: float64

In [5]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1 
percentuale_sopravvivenza_famiglia = df.groupby('FamilySize')['Survived'].mean() * 100

percentuale_sopravvivenza_famiglia

percentuale_sopravvivenza_embarked_famiglia = df.groupby(['Embarked', 'FamilySize'])['Survived'].mean() * 100

percentuale_sopravvivenza_embarked_famiglia

Embarked  FamilySize
C         1              43.529412
          2              66.666667
          3              60.869565
          4              85.714286
          5             100.000000
Q         1              40.350877
          2              55.555556
          3              33.333333
          6               0.000000
S         1              25.699746
          2              49.504950
          3              58.904110
          4              68.181818
          5               7.692308
          6              17.647059
          7              33.333333
          8               0.000000
          11              0.000000
Name: Survived, dtype: float64

In [6]:
df['AgeGroup'] = pd.cut(df['Age'], bins=range(0, 85, 5), right=False)

age_survival = df.groupby('AgeGroup').agg(
SurvivalRate=('Survived', 'mean'),
Count=('Survived', 'size')
)

print("\nSurvival Rate by Age Group:\n", age_survival)

Survival Rate by Age Group:
           SurvivalRate  Count
AgeGroup
[0, 5)        0.675000     40
[5, 10)       0.500000     22
[10, 15)      0.437500     16
[15, 20)      0.395349     86
[20, 25)      0.342105    114
[25, 30)      0.358491    106
[30, 35)      0.421053     95
[35, 40)      0.458333     72
[40, 45)      0.375000     48
[45, 50)      0.390244     41
[50, 55)      0.437500     32
[55, 60)      0.375000     16
[60, 65)      0.400000     15
[65, 70)      0.000000      4
[70, 75)      0.000000      6
[75, 80)           NaN      0

C:\Users\ianni\AppData\Local\Temp\ipykernel_25060\979857611.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_survival = df.groupby('AgeGroup').agg(

In [13]:
pclass_survival = df.groupby('Pclass')['Survived'].mean()
print("Survival Rate by Pclass:\n", pclass_survival)

sex_survival = df.groupby('Sex')['Survived'].mean()
print("\nSurvival Rate by Sex:\n", sex_survival)

embarked_survival = df.groupby('Embarked')['Survived'].mean()
print("\nSurvival Rate by Embarked:\n", embarked_survival)

Survival Rate by Pclass:
 Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

Survival Rate by Sex:
 Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

Survival Rate by Embarked:
 Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [7]:
sibsp_survival = df.groupby('SibSp')['Survived'].mean()
print("\nSurvival Rate by SibSp:\n", sibsp_survival)

parch_survival = df.groupby('Parch')['Survived'].mean()
print("\nSurvival Rate by Parch:\n", parch_survival)

Survival Rate by SibSp:
 SibSp
0    0.345395
1    0.535885
2    0.464286
3    0.250000
4    0.166667
5    0.000000
8    0.000000
Name: Survived, dtype: float64

Survival Rate by Parch:
 Parch
0    0.343658
1    0.550847
2    0.500000
3    0.600000
4    0.000000
5    0.200000
6    0.000000
Name: Survived, dtype: float64