In [53]:
import numpy as np
import pandas as pd

dataset = {
    'Prodotto': [f"Prodotto{i}" for i in np.random.randint(1, 30, size=50)],
    'Quantità': np.random.randint(1, 100, size=50),
    'PrezzoUnitario': np.random.randint(100, 750, 50),
    'Città': np.random.choice(["Roma", "Milano", "Reggio Calabria", "Catanzaro", "Firenze"], size=50)
}

#Caricare i dati in un DataFrame.
df = pd.DataFrame(dataset)

In [55]:
#Aggiungere una colonna "Totale Vendite" che sia il risultato del prodotto tra
#Quantità e Prezzo Unitario
df["Totale Vendite"]= df["Quantità"] * df["PrezzoUnitario"]

In [ ]:
# Raggruppare i dati per Prodotto e calcolare il totale delle vendite per
# ciascun prodotto.
tot=df.groupby("Prodotto")['Totale Vendite'].sum()
tot

In [ ]:
#rovare il prodotto più venduto in termini di Quantità.
quantità=df.groupby("Prodotto")['Quantità'].sum()
quantità1=quantità.idxmax()
quantità1

'Prodotto2'

In [ ]:
#Identificare la città con il maggior volume di vendite totali.
citta1 = df.groupby('Città')['Totale Vendite'].sum()
citta2=citta1.idxmax()
citta2

In [ ]:
# Creare un nuovo DataFrame che mostri solo le vendite superiori a un certo
# valore (es., 1000 euro).
df2=df[df["Totale Vendite"]> 1000]
df2

In [ ]:
#isualizzare il numero di vendite per ogni città.
vend_x_citta=df['Città'].value_counts()
vend_x_citta

Città
Milano             12
Firenze            11
Roma               10
Catanzaro           9
Reggio Calabria     8
Name: count, dtype: int64

In [ ]:
#rdinare il DataFrame originale per la colonna "Totale Vendite" in ordine
# decrescente
citta1
citta4=citta1.sort_values( ascending=False)
citta4

Città
Catanzaro          302287
Roma               275366
Firenze            272729
Milano             218593
Reggio Calabria     93750
Name: Totale Vendite, dtype: int32