In [8]:
import numpy as np
import pandas as pd

data = {
'Student': ['Alice','Alice', 'Bob', 'Bob','Charlie','Charlie', 'Alice','Alice','Bob','Bob', 'Charlie','Charlie', 'Alice','Alice', 'Bob','Bob', 'Charlie','Charlie'],
'Subject': ['Math','Math', 'Math','Math', 'Math','Math' ,'Science', 'Science','Science','Science', 'Science', 'Science','English', 'English', 'English','English','English','English'],
'Score': [85, 81,90, 83,95,79, 80, 70, 75, 88, 92, 85,77,71,99,90,80,75]
}
df = pd.DataFrame(data)
df

    Student  Subject  Score
0     Alice     Math     85
1     Alice     Math     81
2       Bob     Math     90
3       Bob     Math     83
4   Charlie     Math     95
5   Charlie     Math     79
6     Alice  Science     80
7     Alice  Science     70
8       Bob  Science     75
9       Bob  Science     88
10  Charlie  Science     92
11  Charlie  Science     85
12    Alice  English     77
13    Alice  English     71
14      Bob  English     99
15      Bob  English     90
16  Charlie  English     80
17  Charlie  English     75

In [9]:
#calcolare la media dei voti per ogni materia

average_scores = df.groupby('Subject')['Score'].mean()
average_scores

Subject
English    82.000000
Math       85.500000
Science    81.666667
Name: Score, dtype: float64

In [11]:
#calcolare la media dei voti di ogni studente

media_voti_stud = df.groupby('Student')['Score'].mean()

media_voti_stud

Student
Alice      77.333333
Bob        87.500000
Charlie    84.333333
Name: Score, dtype: float64

In [12]:
#calcolare la media di ogni studente in ogni materia

media_stud_mat = df.groupby(['Student', 'Subject'])['Score'].mean()

media_stud_mat

Student  Subject
Alice    English    74.0
         Math       83.0
         Science    75.0
Bob      English    94.5
         Math       86.5
         Science    81.5
Charlie  English    77.5
         Math       87.0
         Science    88.5
Name: Score, dtype: float64